<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/ouw5wwa.css">
</head>

<style>
    body {
        text-align: center;
        background-color: #f1f7fa;
        font-family: mendl-sans-dawn,sans-serif;
        font-weight: 300;
        font-style: normal; 
    } 

    table {
        margin: auto;
        width: 700px;
        border-collapse: collapse;
        border: 1px solid #fff;
        border-style: hidden;
    }

    table thead th {
        padding: 8px;
        background-color: #d9f0fd;
        font-size: large;
    }

    table thead th {
        width: 40%;	
    }

    table thead th#thRegular, table thead th, table thead th {
        width: 20%;
    }

    table th, table td {
        padding: 3px;
        border-width: 1px;
        border-style: solid;
        border-color: #8ebee6 #ccc;
    }
   
    .section {
        margin: 2em auto;
    }

    .past table thead th {
        padding: 8px;
        background-color: #dfdfdf;
        font-size: large;
    }

    .past table th, .past table td {
        padding: 3px;
        border-width: 1px;
        border-style: solid;
        border-color: #adadad #ccc;
    }

    .past  
    table tr:nth-child(even) {
        background-color: #ececec;
    }

    table td {
        text-align: center;
    }

    table tbody th {
        text-align: center;
        font-weight: normal;
    }

    table tfoot {
        font-weight: bold;
        font-size: large;
        background-color: #687886;
        color: #fff;
    }

    table tr:nth-child(even) {
        background-color: #d9f0fd;
    }

    .center-screen {
        position: absolute; 
        width: 100%;
        margin: 0 auto;
    }

    input:not(#btn) {
        border: none;
        border-radius: 0;
        background: transparent;
        border-bottom: 1px solid black;
        height: 20px;
    }

    #btn {
        color: white;
        border: 1px solid black;
        background-color: black;
        padding: 0.5em 1em;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        display: block;
        margin: 1em auto 0;
        transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    #btn:hover {
        background-color: transparent;
        color: black;
        cursor: pointer;
    }

    .deleteBtn .fa {
        transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .deleteBtn .fa:hover {
        color: rgb(136, 0, 0);
        cursor: pointer;
    }
</style>

<body> 
    <div class="center-screen">
        <h1>TODOS</h1>
        <form>
            <input type="date" name="todo[date]">
            <input type="text" name="todo[message]">
            <input id="btn" type="submit" value="Submit">
        </form>

       <div class="section">
        <h3>All To Dos:</h3>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Task Todo</th>
                    <th>Mark As Done</th>
                </tr>
            </thead>
            <% for(var i=0; i < json.length; i++) { %>
            <tr id='task_<%=i %>'>
                <td class='todo date'><%= json[i].date %></td>
                <td class='todo message'><%= json[i].message %></td>
                <td class='deleteBtn'><i class="fa fa-trash" aria-hidden="true"></i></td>
            </tr>
            <% } %>
        </table> 
       </div>

       <div class="section past">
        <h3>Past To Dos:</h3>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Task To Do</th> 
                </tr>
            </thead>
            <% for(var i=0; i < pastJson.length; i++) { %>
            <tr>
                <td><%= pastJson[i].date %></td>
                <td ><%= pastJson[i].message %></td>
            </tr>
            <% } %>
        </table> 
       </div>
    </div>
</body>
</html>

<script> 

        $("#btn").click(function() { 
            if ($("input[name='todo[message]']").val().length != 0 && $("input[name='todo[date]']").val().length != 0) {
                fetch('/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }, 
                    body: JSON.stringify({
                        todo: {
                            date: $("input[name='todo[date]']").val(),
                            message: $("input[name='todo[message]']").val()
                        } 
                    })
                });
                $("input[name='todo[message]']").val("");
                $("input[name='todo[date]']").val("");
            }
        }); 
    

    $( "table tr .deleteBtn" ).click(function() {
        $(this).closest('tr').remove(); 

        let jsonObj = {"index": $(this).closest('tr').attr("id")[ $(this).closest('tr').attr("id").length-1] };
    
        $.ajax({
            url: 'http://localhost:3000', 
            method: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(jsonObj
            ),
            success: function(response) {
                console.log(response);
            }
        }); 
    });  
</script>  